<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Change Password</h4>
              <p class="card-category">Update your pasword</p>
            </div>
            <div class="card-body">
              <form [formGroup]="form" (ngSubmit)="changePassword()">
                
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="full-width-input">
                      <input matInput type="password" placeholder="Old Password" formControlName="oldPassword" required>
                      <mat-error *ngIf="isFieldInvalid('oldPassword')">
                        Please inform your password
                      </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field class="full-width-input">
                      <input matInput type="password" placeholder="New Password" formControlName="newPassword" required>
                      <mat-error *ngIf="isFieldInvalid('newPassword')">
                        Please inform your password
                      </mat-error>  
                    </mat-form-field>

                    <mat-form-field class="full-width-input">
                      <input matInput type="password" placeholder="Confirm New Password" formControlName="confirmNewPassword" required>
                      <mat-error *ngIf="isPasswordInvalid()">
                        Password doesn't match
                      </mat-error>
                    </mat-form-field>
                    <!-- <h3>{{isPasswordInvalid()}}</h3> -->
                  </div>
                </div>
  
                <button mat-raised-button type="submit" [disabled]="!form.valid" class="btn btn-danger pull-right" *ngIf="processing != true">Change Password</button>
                <button mat-raised-button class="btn btn-danger pull-right" disabled *ngIf="processing == true">Processing...</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>