<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Add Booking</h4>
            <p class="card-category">Complete your booking</p>
          </div>
          <div class="card-body">
            <a>This booking is for round-trip from and to BCA Learning Institute</a>
            <form [formGroup]="form" (ngSubmit)="pushBooking()">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-select placeholder="Assembly Point" formControlName = "from" required>
                      <mat-option *ngFor="let shuttlePoint of pointsObservable | async" value="{{shuttlePoint.name}}+{{shuttlePoint.departure}}">{{shuttlePoint.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!from.valid">Please choose Your Origin</mat-error>
                  </mat-form-field>
                </div>
                <!-- <div class="col-md-6">
                  <mat-form-field>
                    <mat-select placeholder="To"  [(value)]="to" [formControl]="toControl" required>
                      <mat-option *ngFor="let shuttlePoint of shuttlePoints" value="{{shuttlePoint}}" [disabled]="(from!='BCA Learning Institute' && shuttlePoint!='BCA Learning Institute') || (from=='BCA Learning Institute' && shuttlePoint=='BCA Learning Institute')">{{shuttlePoint}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="toControl.hasError('required')">Please choose Your Origin</mat-error>
                  </mat-form-field>
                </div> -->
                <!-- <div class="col-md-6" [hidden]="from=='BCA Learning Institute'">
                  <mat-form-field>
                    <mat-select [(value)]="to" placeholder="To" [disabled]=true [formControl]="defaultOption">
                      <mat-option value="BCA Learning Institute">BCA Learning Institute</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
              </div>
              <div class="row">
                <div class="col-md-6">
                 
                  <mat-form-field>
                    <input type="text" matInput [matDatepickerFilter]="myFilter" [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Date"
                      (dateChange)="update($event.value)" (dateInput)="update($event.value)"  (focus)="picker.open()" 
                      (click)="picker.open()" formControlName = "date" disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                    <mat-error *ngIf="!date.valid">Please choose a date</mat-error>
                  </mat-form-field>
                  

                  <!-- <kendo-multiviewcalendar
                        kendoDateRangeSelection
                        [(selectionRange)]="range"
                    ></kendo-multiviewcalendar> -->
                  <!-- <mat-calendar [selected]="dateValue" (selectedChange)="update($event)"> </mat-calendar> -->
                </div>
                <!-- <div class="col-md-6">
                  <h3>{{dateValue}}</h3>
                  <h3>{{from}}</h3>
                  <h3>{{to}}</h3>
                </div> -->
              </div>
              <div class="row">
                <div class="col-md-12" *ngIf="this.form.value.from!=''">
                  We will meet at <b>{{form.value.from.split('+')[0]}}</b> at <b>{{form.value.from.split('+')[1]}}</b> and <b>{{to}}</b> at <b>17.00</b>
                </div>
              </div>
              <!-- <div class="row" *ngFor="let date of dates">
                <div class="col-md-6">
                  <mat-checkbox >{{date}}</mat-checkbox><br>
                </div>
              </div> -->
              <!-- <input #dateInput type="text" (keyup.enter)="update(dateInput.value)">
              <h3>{{test}}</h3> -->
              <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="!form.valid">Done</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
