<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Manage User</h4>
                        <p class="card-category">Registered user, you can delete them</p>
                    </div>
                    <div class="card-body">
                        <div style="display: flex">
                            <i class="material-icons" style="align-items: center; display: flex; padding-right: 10px;">search</i>
                            <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by name or NIP">
                            </mat-form-field>
                        </div>
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                                <ng-container matColumnDef="position">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary">No. </th>
                                    <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
                                </ng-container>
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>
                                <ng-container matColumnDef="nip">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> NIP </th>
                                    <td mat-cell *matCellDef="let element"> {{element.nip}} </td>
                                </ng-container>
                                <ng-container matColumnDef="program">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Program </th>
                                    <td mat-cell *matCellDef="let element"> {{element.program}} </td>
                                </ng-container>
                                <ng-container matColumnDef="phoneNo">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Phone No </th>
                                    <td mat-cell *matCellDef="let element"> {{element.phoneNo}} </td>
                                </ng-container>
                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Email </th>
                                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                                </ng-container>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Action </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button mat-raised-button class="btn btn-danger" (click)="editUser(element)"
                                            *ngIf="processing != true">Edit</button>
                                        <button mat-raised-button class="btn btn-danger" (click)="deleteUser(element, element.name)"
                                            *ngIf="processing != true">Delete</button>
                                        <button mat-raised-button class="btn btn-danger" disabled *ngIf="processing == true">Processing...</button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-atom"></ngx-spinner>