.edit-icon, .profile-icon, .profile-label{
    color: #999999;
}

.edit-icon{
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .edit-icon{
        right: 20px;
        position: absolute;
    }

    .edit-icon-container{
        position: absolute;
    }
}