<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Register User</h4>
            <p class="card-category">Complete a user data</p>
          </div>
          <div class="card-body">
            <form [formGroup] = "form" (ngSubmit)="registerUser()">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="name">
                    <input matInput placeholder="Name" formControlName = "name">
                    <mat-error *ngIf="isFieldInvalid('name')">
                      Name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="nip">
                    <input matInput placeholder="NIP" formControlName = "nip">
                    <mat-error *ngIf="isFieldInvalid('nip')">
                      NIP is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="program">
                    <input matInput placeholder="Program" formControlName = "program">
                    <mat-error *ngIf="isFieldInvalid('program')">
                      Program is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="phoneNo">
                    <input matInput placeholder="Phone Number" formControlName = "phoneNo">
                    <mat-error *ngIf="isFieldInvalid('phoneNo')">
                      Phone is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="email">
                    <input matInput placeholder="Email" formControlName = "email">
                    <mat-error *ngIf="isFieldInvalid('email')">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <button mat-raised-button type="submit" [disabled]="!form.valid" class="btn btn-danger pull-right" *ngIf="processing != true">Register User</button>
              <button mat-raised-button class="btn btn-danger pull-right" disabled *ngIf="processing == true">Processing...</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Register User</h4>
            <p class="card-category">Upload an Excel file</p>
          </div>
          <div class="card-body">
              
              <div class="row">
                <div class="col-md-12">
                    <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
                      
                    <!-- <input matInput placeholder="Email" formControlName = "email">
                    <mat-error *ngIf="isFieldInvalid('email')">
                      Please enter a valid email address
                    </mat-error> -->
                </div>
              </div>
              
              <button mat-raised-button type="button"  class="btn btn-danger pull-right" (click)="Upload()" *ngIf="uploadProcessing == false">Upload File</button>
              <button mat-raised-button class="btn btn-danger pull-right" disabled *ngIf="uploadProcessing == true">Processing...</button>
              <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>